In [21]:
import anndata
import numpy as np
import pandas as pd

In [22]:
df_alpha = pd.read_csv('../data/result/DE_result_alpha.csv', index_col=0, header=0)
df_alpha = df_alpha.sort_values(by='log2FoldChange')
df_alpha

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
GCG,115093.438172,-7.218337,0.486407,-14.840105,8.062908e-50,3.983077e-46
TTR,58693.474671,-3.937116,0.720682,-5.463042,4.680442e-08,1.365911e-05
MUC13,1392.135645,-3.650283,1.112906,-3.279957,1.038230e-03,6.930885e-02
FXYD5,975.657917,-3.246718,0.883103,-3.676489,2.364662e-04,2.290477e-02
CRYBA2,790.555465,-3.067820,0.561637,-5.462283,4.700504e-08,1.365911e-05
...,...,...,...,...,...,...
DPYSL3,469.575509,5.212531,1.110040,4.695805,2.655586e-06,5.466081e-04
INS,215523.590138,5.332306,2.753400,1.936626,5.279109e-02,8.635364e-01
ADCYAP1,1453.878970,5.491630,2.538010,2.163754,3.048323e-02,6.783206e-01
SST,449900.692764,6.821516,3.333702,2.046228,4.073391e-02,7.829786e-01
PPY,150377.367800,6.886908,3.863836,1.782401,7.468378e-02,9.651212e-01

In [23]:
df_alpha.loc['TTR', 'log2FoldChange']

-3.9371163975554

In [24]:
df_beta = pd.read_csv('../data/result/DE_result_beta.csv', index_col=0, header=0)
df_beta = df_beta.sort_values(by='log2FoldChange')
df_beta

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
INS,215523.590138,-6.227825,0.680493,-9.151935,5.592256e-20,6.906437e-17
IAPP,38162.193711,-5.967969,0.610257,-9.779431,1.379837e-22,3.408197e-19
ADCYAP1,1453.878970,-5.349008,0.807452,-6.624551,3.483043e-11,1.720623e-08
IGF2,765.832589,-4.469323,0.802783,-5.567288,2.587340e-08,5.809754e-06
MEG3,414.133693,-3.753647,0.503525,-7.454741,9.004445e-14,7.413659e-11
...,...,...,...,...,...,...
MUC13,1392.135645,5.273738,1.893802,2.784735,5.357142e-03,1.989796e-01
SERPINA1,11641.571715,5.361720,0.413698,12.960468,2.049933e-38,1.012667e-34
SST,449900.692764,5.680946,3.470213,1.637060,1.016180e-01,9.589907e-01
GCG,115093.438172,5.970682,3.190556,1.871361,6.129505e-02,7.627143e-01
PPY,150377.367800,8.390008,3.707018,2.263277,2.361864e-02,4.941333e-01

In [25]:
df_delta = pd.read_csv('../data/result/DE_result_delta.csv', index_col=0, header=0)
df_delta = df_delta.sort_values(by='log2FoldChange')
df_delta

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
SST,449900.692764,-7.830733,0.610432,-12.828178,1.140141e-37,4.757809e-34
RGS2,888.870252,-2.859725,0.467901,-6.111810,9.850712e-10,1.027676e-06
DHRS2,873.055204,-2.336662,1.013737,-2.304998,2.116671e-02,9.998330e-01
PCK1,413.634218,-2.173060,0.605322,-3.589926,3.307719e-04,9.859364e-02
NCOA7,252.006089,-2.091333,0.943028,-2.217679,2.657675e-02,9.998330e-01
...,...,...,...,...,...,...
INS,215523.590138,3.916501,2.810674,1.393438,1.634874e-01,9.998330e-01
GNG4,1116.604742,3.944895,0.549861,7.174344,7.265476e-13,1.515942e-09
G6PC2,1204.559261,4.728997,0.980086,4.825082,1.399457e-06,8.342765e-04
GCG,115093.438172,5.852604,3.206060,1.825481,6.792842e-02,9.998330e-01
PPY,150377.367800,8.542033,3.691171,2.314180,2.065785e-02,9.998330e-01

In [26]:
df_gamma = pd.read_csv('../data/result/DE_result_gamma.csv', index_col=0, header=0)
df_gamma = df_gamma.sort_values(by='log2FoldChange')
df_gamma

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
PPY,150377.367800,-9.311700,0.773255,-12.042212,2.131621e-33,1.053021e-29
SPOCK1,125.142885,-3.513959,0.791379,-4.440296,8.983506e-06,6.230019e-03
SLC6A4,204.952846,-3.173898,0.813869,-3.899767,9.628547e-05,2.797942e-02
GCNT3,242.764326,-3.122148,0.666613,-4.683599,2.818818e-06,2.320827e-03
C11orf96,300.204518,-3.063474,1.143675,-2.678622,7.392585e-03,6.521316e-01
...,...,...,...,...,...,...
IAPP,38162.193711,4.538358,2.902854,1.563413,1.179556e-01,9.993786e-01
PPP1R1A,3541.756123,5.216954,0.582787,8.951736,3.499354e-19,8.643404e-16
GCG,115093.438172,5.239089,3.283843,1.595414,1.106198e-01,9.993786e-01
INS,215523.590138,5.250506,2.755594,1.905399,5.672824e-02,9.993786e-01
SST,449900.692764,6.523874,3.370395,1.935641,5.291174e-02,9.993786e-01

In [27]:
gene_index_alpha = df_alpha.iloc[:5].index.tolist()
gene_index_beta = df_beta.iloc[:5].index.tolist()
gene_index_delta = df_delta.iloc[:5].index.tolist()
gene_index_gamma = df_gamma.iloc[:5].index.tolist()

In [28]:
gene_index = gene_index_alpha + gene_index_beta + gene_index_delta + gene_index_gamma
gene_index

['GCG',
 'TTR',
 'MUC13',
 'FXYD5',
 'CRYBA2',
 'INS',
 'IAPP',
 'ADCYAP1',
 'IGF2',
 'MEG3',
 'SST',
 'RGS2',
 'DHRS2',
 'PCK1',
 'NCOA7',
 'PPY',
 'SPOCK1',
 'SLC6A4',
 'GCNT3',
 'C11orf96']

In [29]:
cell_index = ['Alpha', 'Beta', 'Delta', 'Gamma']

In [30]:
df = pd.DataFrame(index=cell_index, columns=gene_index)
df

,GCG,TTR,MUC13,FXYD5,CRYBA2,INS,IAPP,ADCYAP1,IGF2,MEG3,SST,RGS2,DHRS2,PCK1,NCOA7,PPY,SPOCK1,SLC6A4,GCNT3,C11orf96
Alpha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Beta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Delta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gamma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_test = df

In [32]:
df_test.columns.tolist()

['GCG',
 'TTR',
 'MUC13',
 'FXYD5',
 'CRYBA2',
 'INS',
 'IAPP',
 'ADCYAP1',
 'IGF2',
 'MEG3',
 'SST',
 'RGS2',
 'DHRS2',
 'PCK1',
 'NCOA7',
 'PPY',
 'SPOCK1',
 'SLC6A4',
 'GCNT3',
 'C11orf96']

In [33]:
df_test.loc['Alpha', :] = df_alpha.loc[df_test.columns, 'log2FoldChange']
df_test.loc['Beta', :] = df_beta.loc[df_test.columns, 'log2FoldChange']
df_test.loc['Delta', :] = df_delta.loc[df_test.columns, 'log2FoldChange']
df_test.loc['Gamma', :] = df_gamma.loc[df_test.columns, 'log2FoldChange']

In [34]:
df_test

,GCG,TTR,MUC13,FXYD5,CRYBA2,INS,IAPP,ADCYAP1,IGF2,MEG3,SST,RGS2,DHRS2,PCK1,NCOA7,PPY,SPOCK1,SLC6A4,GCNT3,C11orf96
Alpha,-7.218337,-3.937116,-3.650283,-3.246718,-3.06782,5.332306,5.206221,5.49163,4.528819,2.317708,6.821516,1.552992,2.564213,1.973096,0.926547,6.886908,2.891684,1.356447,1.424274,2.974054
Beta,5.970682,3.056485,5.273738,2.71588,2.564009,-6.227825,-5.967969,-5.349008,-4.469323,-3.753647,5.680946,1.998658,-0.158436,0.701256,3.252626,8.390008,3.010271,3.485771,2.878052,4.085667
Delta,5.852604,3.375184,2.368254,3.315798,1.495752,3.916501,3.845681,3.515684,2.207251,2.957883,-7.830733,-2.859725,-2.336662,-2.17306,-2.091333,8.542033,1.109956,1.461241,1.508008,0.35339
Gamma,5.239089,1.68113,1.227026,0.794154,1.489385,5.250506,4.538358,3.23899,3.053819,1.927776,6.523874,1.360483,2.756708,0.889516,0.118671,-9.3117,-3.513959,-3.173898,-3.122148,-3.063474

In [35]:
df_test.to_csv('../data/result/DE_result.csv')

In [36]:
# 假设您有一个名为df的DataFrame
# 您可以使用以下代码将其转换为一个新的DataFrame
new_df = df_test.reset_index().melt(id_vars='index', value_vars=df.columns, var_name='column', value_name='value')

# 现在new_df是一个新的DataFrame，它包含三列：'index'、'column'和'value'
new_df

    index    column     value
0   Alpha       GCG -7.218337
1    Beta       GCG  5.970682
2   Delta       GCG  5.852604
3   Gamma       GCG  5.239089
4   Alpha       TTR -3.937116
..    ...       ...       ...
75  Gamma     GCNT3 -3.122148
76  Alpha  C11orf96  2.974054
77   Beta  C11orf96  4.085667
78  Delta  C11orf96   0.35339
79  Gamma  C11orf96 -3.063474

[80 rows x 3 columns]

In [37]:
new_df_rev = new_df

In [38]:
new_df_rev['value'] = -1 * new_df_rev['value']
new_df_rev

    index    column     value
0   Alpha       GCG  7.218337
1    Beta       GCG -5.970682
2   Delta       GCG -5.852604
3   Gamma       GCG -5.239089
4   Alpha       TTR  3.937116
..    ...       ...       ...
75  Gamma     GCNT3  3.122148
76  Alpha  C11orf96 -2.974054
77   Beta  C11orf96 -4.085667
78  Delta  C11orf96  -0.35339
79  Gamma  C11orf96  3.063474

[80 rows x 3 columns]

In [47]:
# %matplotlib inline
import matplotlib
matplotlib.use('svg')
import matplotlib.pyplot as plt
import seaborn as sns


sns.set_theme(style="whitegrid")  # 设置 seaborn 主题为白色网格
# 设置字体大小
sns.set_context("notebook", font_scale=0.85)
# plt.rcParams['font.weight'] = 'bold'


g = sns.relplot(
    data=new_df_rev,
    x="column", y="index", hue="value", size="value",
    palette="vlag", edgecolor=".2",
    height=25, aspect=0.3, sizes=(30, 150)
)

# 调整图形以完成
g.set(xlabel="", ylabel="", aspect=2.5, )  # 设置 x 轴和 y 轴标签为空，纵横比为相等
g.despine(left=True, bottom=True)  # 去除左边和底部轴线
g.ax.margins(.06)  # 设置边距
for label in g.ax.get_xticklabels():  # 遍历 x 轴刻度标签
    label.set_rotation(90)  # 将标签旋转 90 度
for artist in g.legend.legend_handles:  # 遍历图例句柄
    artist.set_edgecolor(".7")  # 设置边缘颜色为灰色

C:\Users\25363\anaconda3\envs\scVI\lib\site-packages\seaborn\axisgrid.py:118: UserWarning: The figure layout has changed to tight
  self._figure.tight_layout(*args, **kwargs)

In [48]:
plt.savefig("./result-test.svg", format="svg")