In [1]:
import pandas as pd
import numpy as np
import anndata

In [2]:
pcc_df = anndata.read_h5ad('data-processing/pcc-mouse-10391-dim-norm.h5ad').to_df()
pcc_df

,0,1,2,3,4,5,6,7,8,9,...,10381,10382,10383,10384,10385,10386,10387,10388,10389,10390
0,1.000000,0.163351,-0.183443,-0.039735,-0.090042,-0.133749,0.041896,-0.154340,0.231174,0.091477,...,0.364649,-0.143748,0.212514,-0.040085,0.047989,0.094013,0.326305,0.160103,0.008228,-0.002310
1,0.163351,1.000000,0.153439,0.280461,-0.061584,0.062891,-0.088999,0.287932,0.056497,0.222687,...,0.002199,0.019610,0.033944,0.195882,0.131447,0.225214,-0.017723,-0.178553,-0.015086,0.185272
2,-0.183443,0.153439,1.000000,0.338401,-0.212104,0.158121,0.054817,0.205645,-0.148981,0.000257,...,-0.085750,0.405416,0.024573,0.103115,0.426549,-0.028234,-0.179525,0.137030,0.175906,-0.117700
3,-0.039735,0.280461,0.338401,1.000000,0.065609,0.069211,0.039512,0.417701,-0.046557,0.279267,...,-0.070028,0.154913,-0.091073,0.000904,0.044182,-0.059064,-0.067925,-0.111386,-0.124034,0.069197
4,-0.090042,-0.061584,-0.212104,0.065609,1.000000,0.067106,-0.137877,0.302125,-0.008795,0.246818,...,-0.044844,-0.357939,-0.204120,0.046932,-0.167421,0.049963,-0.194053,-0.048006,-0.027563,-0.086336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10386,0.094013,0.225214,-0.028234,-0.059064,0.049963,0.086546,-0.015287,-0.091343,-0.033116,0.245303,...,0.159824,0.053086,0.205791,0.330274,0.250882,1.000000,-0.101113,0.149970,0.228059,-0.100187
10387,0.326305,-0.017723,-0.179525,-0.067925,-0.194053,-0.097310,0.015381,-0.290090,0.219353,-0.006669,...,0.134324,-0.101858,0.289210,-0.088721,-0.175275,-0.101113,1.000000,-0.092127,-0.140637,0.355327
10388,0.160103,-0.178553,0.137030,-0.111386,-0.048006,0.390447,0.388027,-0.017626,-0.119789,-0.121734,...,0.240677,0.426804,0.206396,0.171774,0.408141,0.149970,-0.092127,1.000000,0.662150,-0.265291
10389,0.008228,-0.015086,0.175906,-0.124034,-0.027563,0.319188,0.126307,0.067171,-0.038678,-0.026555,...,0.036503,0.328491,0.087602,0.100388,0.568339,0.228059,-0.140637,0.662150,1.000000,-0.261322
10390,-0.002310,0.185272,-0.117700,0.069197,-0.086336,-0.050414,-0.012414,-0.023893,0.130307,-0.111367,...,-0.146215,0.008941,0.084581,-0.082690,-0.100015,-0.100187,0.355327,-0.265291,-0.261322,1.000000

In [4]:
import pandas as pd
import numpy as np

# 创建一个示例DataFrame
n = 5
df = pd.DataFrame(np.random.rand(n, n))

# 获取右上三角矩阵中数值大于0.7的数值的坐标
mask = np.triu(df > 0.7, k=1)
result = np.argwhere(mask)

# 将坐标存入另一个DataFrame中
result_df = pd.DataFrame(result, columns=['row', 'column'])
result_df

   row  column
0    0       2
1    0       3
2    0       4
3    2       4

In [6]:
mask = np.triu(pcc_df > 0.7, k=1)
result_gt_pcc = np.argwhere(mask)
result_gt_pcc

array([[    1,   824],
       [    1,  3362],
       [    1,  3541],
       ...,
       [13302, 13499],
       [13331, 13499],
       [13487, 13499]], dtype=int64)

In [17]:
import pandas as pd
import numpy as np

# 创建一个示例DataFrame
n = 5
df = pd.DataFrame(np.random.rand(n, n))

# 获取右上三角矩阵
triu = np.triu(df, k=1)

# 获取每一行元素小于0.7的最大值所在位置的坐标
result = []
for i in range(n):
    row = triu[i]
    max_val = row[row < 0.7].max()
    if not np.isnan(max_val):
        col = np.where(row == max_val)[0][0]
        result.append((i, col))

# 将坐标存入一个新的DataFrame中
result_df = pd.DataFrame(result, columns=['row', 'column'])

In [18]:
df

          0         1         2         3         4
0  0.921577  0.848689  0.139488  0.552873  0.216076
1  0.448788  0.681090  0.808516  0.640110  0.700621
2  0.721491  0.020466  0.602549  0.259089  0.536005
3  0.331278  0.053470  0.283995  0.693624  0.519498
4  0.857654  0.423044  0.606342  0.235024  0.227958

In [19]:
result_df

   row  column
0    0       3
1    1       3
2    2       4
3    3       4
4    4       0

In [20]:
result_df = result_df[result_df['row'] < result_df['column']]

In [21]:
result_df

   row  column
0    0       3
1    1       3
2    2       4
3    3       4

In [25]:
pcc_df.index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '13541', '13542', '13543', '13544', '13545', '13546', '13547', '13548',
       '13549', '13550'],
      dtype='object', length=13551)

In [31]:
# 获取每一行元素小于0.7的最大值所在位置的坐标
result = []
for i in range(len(pcc_df.index)):
    row = pcc_df.iloc[i]
    max_val = row[row < 0.7].max()
    if not np.isnan(max_val):
        col = np.where(row == max_val)[0][0]
        result.append((i, col))

# 将坐标存入一个新的DataFrame中
result_df = pd.DataFrame(result, columns=['row', 'column'])

In [32]:
result_df

         row  column
0          0    8605
1          1    9160
2          2    6002
3          3   10148
4          4    8056
...      ...     ...
13546  13546    2941
13547  13547     924
13548  13548   12637
13549  13549   12892
13550  13550    6253

[13551 rows x 2 columns]

In [33]:
result_gt_pcc

array([[    1,   824],
       [    1,  3362],
       [    1,  3541],
       ...,
       [13302, 13499],
       [13331, 13499],
       [13487, 13499]], dtype=int64)

In [37]:
result_df['idx_min'] = result_df[['row', 'column']].min(axis=1)
result_df['idx_max'] = result_df[['row', 'column']].max(axis=1)

In [38]:
result_df

         row  column  idx_min  idx_max
0          0    8605        0     8605
1          1    9160        1     9160
2          2    6002        2     6002
3          3   10148        3    10148
4          4    8056        4     8056
...      ...     ...      ...      ...
13546  13546    2941     2941    13546
13547  13547     924      924    13547
13548  13548   12637    12637    13548
13549  13549   12892    12892    13549
13550  13550    6253     6253    13550

[13551 rows x 4 columns]

In [44]:
result_gt_pcc = pd.DataFrame(result_gt_pcc)

In [45]:
result_gt_pcc['idx_min'] = result_gt_pcc[[0, 1]].min(axis=1)
result_gt_pcc['idx_max'] = result_gt_pcc[[0, 1]].max(axis=1)

In [46]:
result_gt_pcc

           0      1  idx_min  idx_max
0          1    824        1      824
1          1   3362        1     3362
2          1   3541        1     3541
3          1   4012        1     4012
4          1   5541        1     5541
...      ...    ...      ...      ...
20876  13302  13331    13302    13331
20877  13302  13487    13302    13487
20878  13302  13499    13302    13499
20879  13331  13499    13331    13499
20880  13487  13499    13487    13499

[20881 rows x 4 columns]

In [49]:
pcc_df = pd.concat([result_df[['idx_min', 'idx_max']], result_gt_pcc[['idx_min', 'idx_max']]], axis=0)

In [50]:
pcc_df

       idx_min  idx_max
0            0     8605
1            1     9160
2            2     6002
3            3    10148
4            4     8056
...        ...      ...
20876    13302    13331
20877    13302    13487
20878    13302    13499
20879    13331    13499
20880    13487    13499

[34432 rows x 2 columns]

In [55]:
# 根据两列的值对DataFrame进行排序
pcc_df = pcc_df.sort_values(by=['idx_min', 'idx_max'])

In [56]:
pcc_df

       idx_min  idx_max
1375         0     1375
3191         0     3191
5010         0     5010
0            0     8605
0            1      824
...        ...      ...
13448    13448    13524
13463    13463    13547
13479    13479    13495
20880    13487    13499
13532    13531    13532

[34432 rows x 2 columns]

In [59]:
pcc_df_drop = pcc_df.drop_duplicates()

In [60]:
pcc_df_drop

       idx_min  idx_max
1375         0     1375
3191         0     3191
5010         0     5010
0            0     8605
0            1      824
...        ...      ...
13448    13448    13524
13463    13463    13547
13479    13479    13495
20880    13487    13499
13532    13531    13532

[33007 rows x 2 columns]

In [58]:
import anndata

In [61]:
adata_pcc = anndata.AnnData(pcc_df_drop)

C:\Users\25363\anaconda3\envs\scVI\lib\site-packages\anndata\_core\anndata.py:117: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)
C:\Users\25363\anaconda3\envs\scVI\lib\site-packages\anndata\_core\anndata.py:1830: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [63]:
adata_pcc.X

array([[    0,  1375],
       [    0,  3191],
       [    0,  5010],
       ...,
       [13479, 13495],
       [13487, 13499],
       [13531, 13532]], dtype=int64)

In [64]:
adata_pcc.write_h5ad('data-processing/gene-couple-human-13551-dim-norm.h5ad')

In [65]:
adata1 = anndata.read_h5ad('data-processing/gene-couple-human-13551-dim-norm.h5ad')

C:\Users\25363\anaconda3\envs\scVI\lib\site-packages\anndata\_core\anndata.py:1830: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [67]:
adata1.X

array([[    0,  1375],
       [    0,  3191],
       [    0,  5010],
       ...,
       [13479, 13495],
       [13487, 13499],
       [13531, 13532]], dtype=int64)

In [68]:
adata2 = anndata.read_h5ad('data-processing/integrated-no-filtration-human.h5ad')

In [73]:
adata2.var.index

Index(['A1BG', 'A1CF', 'A2M', 'A4GALT', 'AAAS', 'AACS', 'AADAC', 'AADAT',
       'AAED1', 'AAGAB',
       ...
       'ZW10', 'ZWILCH', 'ZXDA', 'ZXDB', 'ZXDC', 'ZYG11B', 'ZYX', 'ZZEF1',
       'ZZZ3', 'pk'],
      dtype='object', length=13551)

In [88]:
list = adata2.var.index

In [89]:
list

Index(['A1BG', 'A1CF', 'A2M', 'A4GALT', 'AAAS', 'AACS', 'AADAC', 'AADAT',
       'AAED1', 'AAGAB',
       ...
       'ZW10', 'ZWILCH', 'ZXDA', 'ZXDB', 'ZXDC', 'ZYG11B', 'ZYX', 'ZZEF1',
       'ZZZ3', 'pk'],
      dtype='object', length=13551)

In [84]:
df_idx = adata1.to_df()

In [85]:
df_idx

       idx_min  idx_max
1375         0     1375
3191         0     3191
5010         0     5010
0            0     8605
0            1      824
...        ...      ...
13448    13448    13524
13463    13463    13547
13479    13479    13495
20880    13487    13499
13532    13531    13532

[33007 rows x 2 columns]

In [86]:
df_idx = df_idx.reset_index(drop=True)

In [87]:
df_idx

       idx_min  idx_max
0            0     1375
1            0     3191
2            0     5010
3            0     8605
4            1      824
...        ...      ...
33002    13448    13524
33003    13463    13547
33004    13479    13495
33005    13487    13499
33006    13531    13532

[33007 rows x 2 columns]

In [95]:
df_idx['idx_min_gene'] = list[df_idx['idx_min'][:]]
df_idx['idx_max_gene'] = list[df_idx['idx_max'][:]]

In [96]:
df_idx

       idx_min  idx_max idx_min_gene idx_max_gene
0            0     1375         A1BG     C17orf67
1            0     3191         A1BG        DOC2B
2            0     5010         A1BG         HES6
3            0     8605         A1BG         PON3
4            1      824         A1CF          ARX
...        ...      ...          ...          ...
33002    13448    13524        ZNF77      ZSCAN21
33003    13463    13547       ZNF787          ZYX
33004    13479    13495       ZNF829       ZNF883
33005    13487    13499       ZNF841        ZNF92
33006    13531    13532      ZSCAN32      ZSCAN5A

[33007 rows x 4 columns]

In [97]:
df_idx['gene_couple'] = df_idx['idx_min_gene'] + ' ' + df_idx['idx_max_gene']

In [98]:
df_idx

       idx_min  idx_max idx_min_gene idx_max_gene      gene_couple
0            0     1375         A1BG     C17orf67    A1BG C17orf67
1            0     3191         A1BG        DOC2B       A1BG DOC2B
2            0     5010         A1BG         HES6        A1BG HES6
3            0     8605         A1BG         PON3        A1BG PON3
4            1      824         A1CF          ARX         A1CF ARX
...        ...      ...          ...          ...              ...
33002    13448    13524        ZNF77      ZSCAN21    ZNF77 ZSCAN21
33003    13463    13547       ZNF787          ZYX       ZNF787 ZYX
33004    13479    13495       ZNF829       ZNF883    ZNF829 ZNF883
33005    13487    13499       ZNF841        ZNF92     ZNF841 ZNF92
33006    13531    13532      ZSCAN32      ZSCAN5A  ZSCAN32 ZSCAN5A

[33007 rows x 5 columns]

In [101]:
df_idx['gene_couple'].to_csv('data-processing/gene-couple-human-13551-dim-norm.txt', index=False, header=False)

In [102]:
df_idx.to_csv('data-processing/gene-couple-human-13551-dim-norm.csv')

In [3]:
df_idx = pd.read_csv('data-processing/gene-couple-human-13551-dim-norm.csv', index_col=0, header=0)

In [4]:
df_idx

       idx_min  idx_max idx_min_gene idx_max_gene      gene_couple
0            0     1375         A1BG     C17orf67    A1BG C17orf67
1            0     3191         A1BG        DOC2B       A1BG DOC2B
2            0     5010         A1BG         HES6        A1BG HES6
3            0     8605         A1BG         PON3        A1BG PON3
4            1      824         A1CF          ARX         A1CF ARX
...        ...      ...          ...          ...              ...
33002    13448    13524        ZNF77      ZSCAN21    ZNF77 ZSCAN21
33003    13463    13547       ZNF787          ZYX       ZNF787 ZYX
33004    13479    13495       ZNF829       ZNF883    ZNF829 ZNF883
33005    13487    13499       ZNF841        ZNF92     ZNF841 ZNF92
33006    13531    13532      ZSCAN32      ZSCAN5A  ZSCAN32 ZSCAN5A

[33007 rows x 5 columns]

In [5]:
df_idx = df_idx.rename(columns={'gene_couple': 'gene_couple_1'})

In [6]:
df_idx

       idx_min  idx_max idx_min_gene idx_max_gene    gene_couple_1
0            0     1375         A1BG     C17orf67    A1BG C17orf67
1            0     3191         A1BG        DOC2B       A1BG DOC2B
2            0     5010         A1BG         HES6        A1BG HES6
3            0     8605         A1BG         PON3        A1BG PON3
4            1      824         A1CF          ARX         A1CF ARX
...        ...      ...          ...          ...              ...
33002    13448    13524        ZNF77      ZSCAN21    ZNF77 ZSCAN21
33003    13463    13547       ZNF787          ZYX       ZNF787 ZYX
33004    13479    13495       ZNF829       ZNF883    ZNF829 ZNF883
33005    13487    13499       ZNF841        ZNF92     ZNF841 ZNF92
33006    13531    13532      ZSCAN32      ZSCAN5A  ZSCAN32 ZSCAN5A

[33007 rows x 5 columns]

In [7]:
df_idx['gene_couple_2'] = df_idx['idx_max_gene'] + ' ' + df_idx['idx_min_gene']

In [8]:
df_idx

,idx_min,idx_max,idx_min_gene,idx_max_gene,gene_couple_1,gene_couple_2
0,0,1375,A1BG,C17orf67,A1BG C17orf67,C17orf67 A1BG
1,0,3191,A1BG,DOC2B,A1BG DOC2B,DOC2B A1BG
2,0,5010,A1BG,HES6,A1BG HES6,HES6 A1BG
3,0,8605,A1BG,PON3,A1BG PON3,PON3 A1BG
4,1,824,A1CF,ARX,A1CF ARX,ARX A1CF
...,...,...,...,...,...,...
33002,13448,13524,ZNF77,ZSCAN21,ZNF77 ZSCAN21,ZSCAN21 ZNF77
33003,13463,13547,ZNF787,ZYX,ZNF787 ZYX,ZYX ZNF787
33004,13479,13495,ZNF829,ZNF883,ZNF829 ZNF883,ZNF883 ZNF829
33005,13487,13499,ZNF841,ZNF92,ZNF841 ZNF92,ZNF92 ZNF841
33006,13531,13532,ZSCAN32,ZSCAN5A,ZSCAN32 ZSCAN5A,ZSCAN5A ZSCAN32

In [13]:
df = pd.concat([df_idx['gene_couple_1'], df_idx['gene_couple_2']], axis=0)

In [14]:
df

0          A1BG C17orf67
1             A1BG DOC2B
2              A1BG HES6
3              A1BG PON3
4               A1CF ARX
              ...
33002      ZSCAN21 ZNF77
33003         ZYX ZNF787
33004      ZNF883 ZNF829
33005       ZNF92 ZNF841
33006    ZSCAN5A ZSCAN32
Length: 66014, dtype: object

In [15]:
df.to_csv('data-processing/gene-couple-human-13551-dim-norm-double.txt', index=False, header=False)

# 新算法：大于0.7加上小于0.7的最大十个

In [3]:
import pandas as pd
import numpy as np
import anndata

In [5]:

pcc_df = anndata.read_h5ad('data-processing/pcc-mouse-10391-dim-norm.h5ad').to_df()

# 假设你的dataframe是df
df = pcc_df
df

,0,1,2,3,4,5,6,7,8,9,...,10381,10382,10383,10384,10385,10386,10387,10388,10389,10390
0,1.000000,0.163351,-0.183443,-0.039735,-0.090042,-0.133749,0.041896,-0.154340,0.231174,0.091477,...,0.364649,-0.143748,0.212514,-0.040085,0.047989,0.094013,0.326305,0.160103,0.008228,-0.002310
1,0.163351,1.000000,0.153439,0.280461,-0.061584,0.062891,-0.088999,0.287932,0.056497,0.222687,...,0.002199,0.019610,0.033944,0.195882,0.131447,0.225214,-0.017723,-0.178553,-0.015086,0.185272
2,-0.183443,0.153439,1.000000,0.338401,-0.212104,0.158121,0.054817,0.205645,-0.148981,0.000257,...,-0.085750,0.405416,0.024573,0.103115,0.426549,-0.028234,-0.179525,0.137030,0.175906,-0.117700
3,-0.039735,0.280461,0.338401,1.000000,0.065609,0.069211,0.039512,0.417701,-0.046557,0.279267,...,-0.070028,0.154913,-0.091073,0.000904,0.044182,-0.059064,-0.067925,-0.111386,-0.124034,0.069197
4,-0.090042,-0.061584,-0.212104,0.065609,1.000000,0.067106,-0.137877,0.302125,-0.008795,0.246818,...,-0.044844,-0.357939,-0.204120,0.046932,-0.167421,0.049963,-0.194053,-0.048006,-0.027563,-0.086336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10386,0.094013,0.225214,-0.028234,-0.059064,0.049963,0.086546,-0.015287,-0.091343,-0.033116,0.245303,...,0.159824,0.053086,0.205791,0.330274,0.250882,1.000000,-0.101113,0.149970,0.228059,-0.100187
10387,0.326305,-0.017723,-0.179525,-0.067925,-0.194053,-0.097310,0.015381,-0.290090,0.219353,-0.006669,...,0.134324,-0.101858,0.289210,-0.088721,-0.175275,-0.101113,1.000000,-0.092127,-0.140637,0.355327
10388,0.160103,-0.178553,0.137030,-0.111386,-0.048006,0.390447,0.388027,-0.017626,-0.119789,-0.121734,...,0.240677,0.426804,0.206396,0.171774,0.408141,0.149970,-0.092127,1.000000,0.662150,-0.265291
10389,0.008228,-0.015086,0.175906,-0.124034,-0.027563,0.319188,0.126307,0.067171,-0.038678,-0.026555,...,0.036503,0.328491,0.087602,0.100388,0.568339,0.228059,-0.140637,0.662150,1.000000,-0.261322
10390,-0.002310,0.185272,-0.117700,0.069197,-0.086336,-0.050414,-0.012414,-0.023893,0.130307,-0.111367,...,-0.146215,0.008941,0.084581,-0.082690,-0.100015,-0.100187,0.355327,-0.265291,-0.261322,1.000000

In [6]:
# 筛选出大于0.7的所有值的坐标位置
result1 = df[df > 0.7].stack().index.tolist()
result1 = [x for x in result1 if x[0] != x[1]]
len(result1)

67794

In [7]:
# 筛选出每行跟每列小于0.7的前10大的值的坐标
result2 = []
for i in range(len(df.columns)):
    row = df.iloc[i,:]
    row_result = row[row < 0.7].nlargest(10).index.tolist()
    result2.extend([(i, j) for j in row_result if i != j])

    col = df.iloc[:,i]
    col_result = col[col < 0.7].nlargest(10).index.tolist()
    result2.extend([(j, i) for j in col_result if i != j])

result2

[(0, '669'),
 (0, '2094'),
 (0, '2676'),
 (0, '8944'),
 (0, '5004'),
 (0, '390'),
 (0, '6863'),
 (0, '8460'),
 (0, '4059'),
 (0, '2148'),
 ('669', 0),
 ('2094', 0),
 ('2676', 0),
 ('8944', 0),
 ('5004', 0),
 ('390', 0),
 ('6863', 0),
 ('8460', 0),
 ('4059', 0),
 ('2148', 0),
 (1, '8771'),
 (1, '6632'),
 (1, '6426'),
 (1, '9740'),
 (1, '4218'),
 (1, '7717'),
 (1, '7638'),
 (1, '8475'),
 (1, '6105'),
 (1, '8977'),
 ('8771', 1),
 ('6632', 1),
 ('6426', 1),
 ('9740', 1),
 ('4218', 1),
 ('7717', 1),
 ('7638', 1),
 ('8475', 1),
 ('6105', 1),
 ('8977', 1),
 (2, '6466'),
 (2, '5710'),
 (2, '10017'),
 (2, '1690'),
 (2, '1169'),
 (2, '475'),
 (2, '1958'),
 (2, '7754'),
 (2, '8698'),
 (2, '8374'),
 ('6466', 2),
 ('5710', 2),
 ('10017', 2),
 ('1690', 2),
 ('1169', 2),
 ('475', 2),
 ('1958', 2),
 ('7754', 2),
 ('8698', 2),
 ('8374', 2),
 (3, '5666'),
 (3, '8779'),
 (3, '252'),
 (3, '3466'),
 (3, '7796'),
 (3, '5553'),
 (3, '6647'),
 (3, '4052'),
 (3, '2026'),
 (3, '10164'),
 ('5666', 3),
 ('8779', 3),
 ('252', 3),
 ('3466', 3),
 ('7796', 3),
 ('5553', 3),
 ('6647', 3),
 ('4052', 3),
 ('2026', 3),
 ('10164', 3),
 (4, '8479'),
 (4, '461'),
 (4, '4669'),
 (4, '4344'),
 (4, '5424'),
 (4, '8850'),
 (4, '8672'),
 (4, '6513'),
 (4, '1215'),
 (4, '1316'),
 ('8479', 4),
 ('461', 4),
 ('4669', 4),
 ('4344', 4),
 ('5424', 4),
 ('8850', 4),
 ('8672', 4),
 ('6513', 4),
 ('1215', 4),
 ('1316', 4),
 (5, '6883'),
 (5, '3806'),
 (5, '3146'),
 (5, '5071'),
 (5, '6470'),
 (5, '7084'),
 (5, '1541'),
 (5, '5590'),
 (5, '9342'),
 (5, '5116'),
 ('6883', 5),
 ('3806', 5),
 ('3146', 5),
 ('5071', 5),
 ('6470', 5),
 ('7084', 5),
 ('1541', 5),
 ('5590', 5),
 ('9342', 5),
 ('5116', 5),
 (6, '1854'),
 (6, '218'),
 (6, '3352'),
 (6, '6100'),
 (6, '6525'),
 (6, '6747'),
 (6, '6936'),
 (6, '4622'),
 (6, '1103'),
 (6, '1848'),
 ('1854', 6),
 ('218', 6),
 ('3352', 6),
 ('6100', 6),
 ('6525', 6),
 ('6747', 6),
 ('6936', 6),
 ('4622', 6),
 ('1103', 6),
 ('1848', 6),
 (7, '8350'),
 (7, '2026'),
 (7, '8581'),
 (7, '4528'),
 (7, '74'),
 (7, '4976'),
 (7, '9177'),
 (7, '9055'),
 (7, '10089'),
 (7, '5436'),
 ('8350', 7),
 ('2026', 7),
 ('8581', 7),
 ('4528', 7),
 ('74', 7),
 ('4976', 7),
 ('9177', 7),
 ('9055', 7),
 ('10089', 7),
 ('5436', 7),
 (8, '5173'),
 (8, '6784'),
 (8, '230'),
 (8, '1507'),
 (8, '6925'),
 (8, '3458'),
 (8, '2534'),
 (8, '8194'),
 (8, '6495'),
 (8, '1240'),
 ('5173', 8),
 ('6784', 8),
 ('230', 8),
 ('1507', 8),
 ('6925', 8),
 ('3458', 8),
 ('2534', 8),
 ('8194', 8),
 ('6495', 8),
 ('1240', 8),
 (9, '9413'),
 (9, '9488'),
 (9, '8446'),
 (9, '6741'),
 (9, '445'),
 (9, '8862'),
 (9, '147'),
 (9, '6943'),
 (9, '513'),
 (9, '3910'),
 ('9413', 9),
 ('9488', 9),
 ('8446', 9),
 ('6741', 9),
 ('445', 9),
 ('8862', 9),
 ('147', 9),
 ('6943', 9),
 ('513', 9),
 ('3910', 9),
 (10, '1284'),
 (10, '5063'),
 (10, '7717'),
 (10, '6007'),
 (10, '328'),
 (10, '2400'),
 (10, '1033'),
 (10, '1729'),
 (10, '634'),
 (10, '875'),
 ('1284', 10),
 ('5063', 10),
 ('7717', 10),
 ('6007', 10),
 ('328', 10),
 ('2400', 10),
 ('1033', 10),
 ('1729', 10),
 ('634', 10),
 ('875', 10),
 (11, '5298'),
 (11, '1480'),
 (11, '1934'),
 (11, '1307'),
 (11, '2460'),
 (11, '3712'),
 (11, '10293'),
 (11, '1928'),
 (11, '10203'),
 (11, '8146'),
 ('5298', 11),
 ('1480', 11),
 ('1934', 11),
 ('1307', 11),
 ('2460', 11),
 ('3712', 11),
 ('10293', 11),
 ('1928', 11),
 ('10203', 11),
 ('8146', 11),
 (12, '9702'),
 (12, '8323'),
 (12, '835'),
 (12, '937'),
 (12, '10218'),
 (12, '6574'),
 (12, '6632'),
 (12, '5942'),
 (12, '2772'),
 (12, '7917'),
 ('9702', 12),
 ('8323', 12),
 ('835', 12),
 ('937', 12),
 ('10218', 12),
 ('6574', 12),
 ('6632', 12),
 ('5942', 12),
 ('2772', 12),
 ('7917', 12),
 (13, '1100'),
 (13, '5974'),
 (13, '4765'),
 (13, '7313'),
 (13, '9455'),
 (13, '864'),
 (13, '9864'),
 (13, '6363'),
 (13, '454'),
 (13, '5267'),
 ('1100', 13),
 ('5974', 13),
 ('4765', 13),
 ('7313', 13),
 ('9455', 13),
 ('864', 13),
 ('9864', 13),
 ('6363', 13),
 ('454', 13),
 ('5267', 13),
 (14, '1585'),
 (14, '7637'),
 (14, '3600'),
 (14, '5672'),
 (14, '1154'),
 (14, '3207'),
 (14, '7712'),
 (14, '4022'),
 (14, '509'),
 (14, '4892'),
 ('1585', 14),
 ('7637', 14),
 ('3600', 14),
 ('5672', 14),
 ('1154', 14),
 ('3207', 14),
 ('7712', 14),
 ('4022', 14),
 ('509', 14),
 ('4892', 14),
 (15, '129'),
 (15, '7799'),
 (15, '8022'),
 (15, '3837'),
 (15, '5276'),
 (15, '1455'),
 (15, '5401'),
 (15, '5335'),
 (15, '7349'),
 (15, '9308'),
 ('129', 15),
 ('7799', 15),
 ('8022', 15),
 ('3837', 15),
 ('5276', 15),
 ('1455', 15),
 ('5401', 15),
 ('5335', 15),
 ('7349', 15),
 ('9308', 15),
 (16, '9997'),
 (16, '79'),
 (16, '831'),
 (16, '6680'),
 (16, '7586'),
 (16, '7456'),
 (16, '6918'),
 (16, '7553'),
 (16, '6332'),
 (16, '732'),
 ('9997', 16),
 ('79', 16),
 ('831', 16),
 ('6680', 16),
 ('7586', 16),
 ('7456', 16),
 ('6918', 16),
 ('7553', 16),
 ('6332', 16),
 ('732', 16),
 (17, '168'),
 (17, '6640'),
 (17, '9782'),
 (17, '6431'),
 (17, '2810'),
 (17, '3966'),
 (17, '5547'),
 (17, '2647'),
 (17, '7985'),
 (17, '9247'),
 ('168', 17),
 ('6640', 17),
 ('9782', 17),
 ('6431', 17),
 ('2810', 17),
 ('3966', 17),
 ('5547', 17),
 ('2647', 17),
 ('7985', 17),
 ('9247', 17),
 (18, '5536'),
 (18, '6399'),
 (18, '9920'),
 (18, '1850'),
 (18, '1060'),
 (18, '2757'),
 (18, '7069'),
 (18, '8857'),
 (18, '8321'),
 (18, '937'),
 ('5536', 18),
 ('6399', 18),
 ('9920', 18),
 ('1850', 18),
 ('1060', 18),
 ('2757', 18),
 ('7069', 18),
 ('8857', 18),
 ('8321', 18),
 ('937', 18),
 (19, '2205'),
 (19, '7096'),
 (19, '5521'),
 (19, '1805'),
 (19, '1948'),
 (19, '4970'),
 (19, '2194'),
 (19, '5297'),
 (19, '9858'),
 (19, '7102'),
 ('2205', 19),
 ('7096', 19),
 ('5521', 19),
 ('1805', 19),
 ('1948', 19),
 ('4970', 19),
 ('2194', 19),
 ('5297', 19),
 ('9858', 19),
 ('7102', 19),
 (20, '5304'),
 (20, '4871'),
 (20, '3466'),
 (20, '8236'),
 (20, '6595'),
 (20, '4929'),
 (20, '8611'),
 (20, '1690'),
 (20, '2580'),
 (20, '8454'),
 ('5304', 20),
 ('4871', 20),
 ('3466', 20),
 ('8236', 20),
 ('6595', 20),
 ('4929', 20),
 ('8611', 20),
 ('1690', 20),
 ('2580', 20),
 ('8454', 20),
 (21, '6378'),
 (21, '1680'),
 (21, '4159'),
 (21, '5195'),
 (21, '7341'),
 (21, '1279'),
 (21, '2854'),
 (21, '6161'),
 (21, '994'),
 (21, '3493'),
 ('6378', 21),
 ('1680', 21),
 ('4159', 21),
 ('5195', 21),
 ('7341', 21),
 ('1279', 21),
 ('2854', 21),
 ('6161', 21),
 ('994', 21),
 ('3493', 21),
 (22, '3916'),
 (22, '2045'),
 (22, '6277'),
 (22, '1519'),
 (22, '862'),
 (22, '2962'),
 (22, '3315'),
 (22, '8434'),
 (22, '6177'),
 (22, '1049'),
 ('3916', 22),
 ('2045', 22),
 ('6277', 22),
 ('1519', 22),
 ('862', 22),
 ('2962', 22),
 ('3315', 22),
 ('8434', 22),
 ('6177', 22),
 ('1049', 22),
 (23, '144'),
 (23, '5628'),
 (23, '3044'),
 (23, '8538'),
 (23, '6144'),
 (23, '3866'),
 (23, '4986'),
 (23, '3186'),
 (23, '5579'),
 (23, '9153'),
 ('144', 23),
 ('5628', 23),
 ('3044', 23),
 ('8538', 23),
 ('6144', 23),
 ('3866', 23),
 ('4986', 23),
 ('3186', 23),
 ('5579', 23),
 ('9153', 23),
 (24, '1590'),
 (24, '10129'),
 (24, '1240'),
 (24, '7144'),
 (24, '9293'),
 (24, '5790'),
 (24, '6668'),
 (24, '5828'),
 (24, '2737'),
 (24, '3426'),
 ('1590', 24),
 ('10129', 24),
 ('1240', 24),
 ('7144', 24),
 ('9293', 24),
 ('5790', 24),
 ('6668', 24),
 ('5828', 24),
 ('2737', 24),
 ('3426', 24),
 (25, '5405'),
 (25, '3729'),
 (25, '3545'),
 (25, '4140'),
 (25, '1677'),
 (25, '7767'),
 (25, '4056'),
 (25, '380'),
 (25, '5977'),
 (25, '4650'),
 ('5405', 25),
 ('3729', 25),
 ('3545', 25),
 ('4140', 25),
 ('1677', 25),
 ('7767', 25),
 ('4056', 25),
 ('380', 25),
 ('5977', 25),
 ('4650', 25),
 (26, '4148'),
 (26, '5412'),
 (26, '3792'),
 (26, '4800'),
 (26, '9835'),
 (26, '9960'),
 (26, '8599'),
 (26, '8822'),
 (26, '3028'),
 (26, '2664'),
 ('4148', 26),
 ('5412', 26),
 ('3792', 26),
 ('4800', 26),
 ('9835', 26),
 ('9960', 26),
 ('8599', 26),
 ('8822', 26),
 ('3028', 26),
 ('2664', 26),
 (27, '4018'),
 (27, '6374'),
 (27, '6657'),
 (27, '1003'),
 (27, '6413'),
 (27, '599'),
 (27, '1042'),
 (27, '4357'),
 (27, '1244'),
 (27, '2154'),
 ('4018', 27),
 ('6374', 27),
 ('6657', 27),
 ('1003', 27),
 ('6413', 27),
 ('599', 27),
 ('1042', 27),
 ('4357', 27),
 ('1244', 27),
 ('2154', 27),
 (28, '8684'),
 (28, '3907'),
 (28, '9568'),
 (28, '6489'),
 (28, '5896'),
 (28, '4170'),
 (28, '3234'),
 (28, '6927'),
 (28, '6483'),
 (28, '764'),
 ('8684', 28),
 ('3907', 28),
 ('9568', 28),
 ('6489', 28),
 ('5896', 28),
 ('4170', 28),
 ('3234', 28),
 ('6927', 28),
 ('6483', 28),
 ('764', 28),
 (29, '954'),
 (29, '6783'),
 (29, '5416'),
 (29, '765'),
 (29, '5578'),
 (29, '7782'),
 (29, '3941'),
 (29, '7430'),
 (29, '9234'),
 (29, '288'),
 ('954', 29),
 ('6783', 29),
 ('5416', 29),
 ('765', 29),
 ('5578', 29),
 ('7782', 29),
 ('3941', 29),
 ('7430', 29),
 ('9234', 29),
 ('288', 29),
 (30, '2511'),
 (30, '1233'),
 (30, '5436'),
 (30, '8527'),
 (30, '9798'),
 (30, '1991'),
 (30, '5116'),
 (30, '3308'),
 (30, '4994'),
 (30, '4462'),
 ('2511', 30),
 ('1233', 30),
 ('5436', 30),
 ('8527', 30),
 ('9798', 30),
 ('1991', 30),
 ('5116', 30),
 ('3308', 30),
 ('4994', 30),
 ('4462', 30),
 (31, '8317'),
 (31, '1043'),
 (31, '3068'),
 (31, '875'),
 (31, '10004'),
 (31, '898'),
 (31, '419'),
 (31, '9322'),
 (31, '698'),
 (31, '775'),
 ('8317', 31),
 ('1043', 31),
 ('3068', 31),
 ('875', 31),
 ('10004', 31),
 ('898', 31),
 ('419', 31),
 ('9322', 31),
 ('698', 31),
 ('775', 31),
 (32, '3540'),
 (32, '2930'),
 (32, '7893'),
 (32, '2457'),
 (32, '5320'),
 (32, '10058'),
 (32, '3478'),
 (32, '7762'),
 (32, '2163'),
 (32, '9891'),
 ('3540', 32),
 ('2930', 32),
 ('7893', 32),
 ('2457', 32),
 ('5320', 32),
 ('10058', 32),
 ('3478', 32),
 ('7762', 32),
 ('2163', 32),
 ('9891', 32),
 (33, '573'),
 (33, '5061'),
 (33, '3207'),
 (33, '1631'),
 (33, '4028'),
 (33, '2860'),
 (33, '2430'),
 (33, '694'),
 (33, '5459'),
 (33, '9334'),
 ('573', 33),
 ('5061', 33),
 ('3207', 33),
 ('1631', 33),
 ('4028', 33),
 ('2860', 33),
 ('2430', 33),
 ('694', 33),
 ('5459', 33),
 ('9334', 33),
 (34, '10174'),
 (34, '7270'),
 (34, '6413'),
 (34, '8673'),
 (34, '2612'),
 (34, '1244'),
 (34, '3996'),
 (34, '5402'),
 (34, '5796'),
 (34, '4049'),
 ('10174', 34),
 ('7270', 34),
 ('6413', 34),
 ('8673', 34),
 ('2612', 34),
 ('1244', 34),
 ('3996', 34),
 ('5402', 34),
 ('5796', 34),
 ('4049', 34),
 (35, '3609'),
 (35, '8432'),
 (35, '821'),
 (35, '3661'),
 (35, '1827'),
 (35, '5917'),
 (35, '4374'),
 (35, '2151'),
 (35, '7824'),
 (35, '8507'),
 ('3609', 35),
 ('8432', 35),
 ('821', 35),
 ('3661', 35),
 ('1827', 35),
 ('5917', 35),
 ('4374', 35),
 ('2151', 35),
 ('7824', 35),
 ('8507', 35),
 (36, '4061'),
 (36, '6515'),
 (36, '3682'),
 (36, '7754'),
 (36, '9693'),
 (36, '4024'),
 (36, '6209'),
 (36, '3531'),
 (36, '8085'),
 (36, '7298'),
 ('4061', 36),
 ('6515', 36),
 ('3682', 36),
 ('7754', 36),
 ('9693', 36),
 ('4024', 36),
 ('6209', 36),
 ('3531', 36),
 ('8085', 36),
 ('7298', 36),
 (37, '9239'),
 (37, '3610'),
 (37, '10157'),
 (37, '3613'),
 (37, '3757'),
 (37, '5483'),
 (37, '907'),
 (37, '4513'),
 (37, '9376'),
 (37, '6857'),
 ('9239', 37),
 ('3610', 37),
 ('10157', 37),
 ('3613', 37),
 ('3757', 37),
 ('5483', 37),
 ('907', 37),
 ('4513', 37),
 ('9376', 37),
 ('6857', 37),
 (38, '10203'),
 (38, '760'),
 (38, '122'),
 (38, '5563'),
 (38, '2982'),
 (38, '1681'),
 (38, '206'),
 (38, '1316'),
 (38, '10293'),
 (38, '6822'),
 ('10203', 38),
 ('760', 38),
 ('122', 38),
 ('5563', 38),
 ('2982', 38),
 ('1681', 38),
 ('206', 38),
 ('1316', 38),
 ('10293', 38),
 ('6822', 38),
 (39, '10218'),
 (39, '5365'),
 (39, '5394'),
 (39, '3609'),
 (39, '1916'),
 (39, '1153'),
 (39, '4933'),
 (39, '9704'),
 (39, '3004'),
 (39, '2536'),
 ('10218', 39),
 ('5365', 39),
 ('5394', 39),
 ('3609', 39),
 ('1916', 39),
 ('1153', 39),
 ('4933', 39),
 ('9704', 39),
 ('3004', 39),
 ('2536', 39),
 (40, '3782'),
 (40, '7127'),
 (40, '5481'),
 (40, '5949'),
 (40, '9636'),
 (40, '274'),
 (40, '506'),
 (40, '6588'),
 (40, '1013'),
 (40, '8757'),
 ('3782', 40),
 ('7127', 40),
 ('5481', 40),
 ('5949', 40),
 ('9636', 40),
 ('274', 40),
 ('506', 40),
 ('6588', 40),
 ('1013', 40),
 ('8757', 40),
 (41, '9540'),
 (41, '609'),
 (41, '310'),
 (41, '1723'),
 (41, '6438'),
 (41, '1342'),
 (41, '8645'),
 (41, '5785'),
 (41, '5366'),
 (41, '5328'),
 ('9540', 41),
 ('609', 41),
 ('310', 41),
 ('1723', 41),
 ('6438', 41),
 ('1342', 41),
 ('8645', 41),
 ('5785', 41),
 ('5366', 41),
 ('5328', 41),
 (42, '865'),
 (42, '7262'),
 (42, '10190'),
 (42, '6610'),
 (42, '7370'),
 (42, '1576'),
 (42, '5428'),
 (42, '9142'),
 (42, '6969'),
 (42, '7847'),
 ('865', 42),
 ('7262', 42),
 ('10190', 42),
 ('6610', 42),
 ('7370', 42),
 ('1576', 42),
 ('5428', 42),
 ('9142', 42),
 ('6969', 42),
 ('7847', 42),
 (43, '4952'),
 (43, '1457'),
 (43, '6274'),
 (43, '8804'),
 (43, '4534'),
 (43, '1971'),
 (43, '1075'),
 (43, '8720'),
 (43, '6061'),
 (43, '10043'),
 ('4952', 43),
 ('1457', 43),
 ('6274', 43),
 ('8804', 43),
 ('4534', 43),
 ('1971', 43),
 ('1075', 43),
 ('8720', 43),
 ('6061', 43),
 ('10043', 43),
 (44, '7372'),
 (44, '8968'),
 (44, '2963'),
 (44, '3254'),
 (44, '5209'),
 (44, '10259'),
 (44, '4401'),
 (44, '1605'),
 (44, '1086'),
 (44, '9941'),
 ('7372', 44),
 ('8968', 44),
 ('2963', 44),
 ('3254', 44),
 ('5209', 44),
 ('10259', 44),
 ('4401', 44),
 ('1605', 44),
 ('1086', 44),
 ('9941', 44),
 (45, '9846'),
 (45, '7596'),
 (45, '10047'),
 (45, '8025'),
 (45, '1462'),
 (45, '1535'),
 (45, '115'),
 (45, '2434'),
 (45, '7429'),
 (45, '5935'),
 ('9846', 45),
 ('7596', 45),
 ('10047', 45),
 ('8025', 45),
 ('1462', 45),
 ('1535', 45),
 ('115', 45),
 ('2434', 45),
 ('7429', 45),
 ('5935', 45),
 (46, '2410'),
 (46, '6379'),
 (46, '6657'),
 (46, '1846'),
 (46, '4379'),
 (46, '5386'),
 (46, '3444'),
 (46, '7362'),
 (46, '4778'),
 (46, '3006'),
 ('2410', 46),
 ('6379', 46),
 ('6657', 46),
 ('1846', 46),
 ('4379', 46),
 ('5386', 46),
 ('3444', 46),
 ('7362', 46),
 ('4778', 46),
 ('3006', 46),
 (47, '3199'),
 (47, '3207'),
 (47, '571'),
 (47, '7611'),
 (47, '7641'),
 (47, '6804'),
 (47, '2674'),
 (47, '3763'),
 (47, '4892'),
 (47, '2612'),
 ('3199', 47),
 ('3207', 47),
 ('571', 47),
 ('7611', 47),
 ('7641', 47),
 ('6804', 47),
 ('2674', 47),
 ('3763', 47),
 ('4892', 47),
 ('2612', 47),
 (48, '7868'),
 (48, '3691'),
 (48, '9027'),
 (48, '4747'),
 (48, '3360'),
 (48, '2404'),
 (48, '7294'),
 (48, '7788'),
 (48, '7966'),
 (48, '86'),
 ('7868', 48),
 ('3691', 48),
 ('9027', 48),
 ('4747', 48),
 ('3360', 48),
 ('2404', 48),
 ('7294', 48),
 ('7788', 48),
 ('7966', 48),
 ('86', 48),
 (49, '3614'),
 (49, '9682'),
 (49, '8242'),
 (49, '10102'),
 (49, '5219'),
 (49, '6536'),
 (49, '6195'),
 (49, '9622'),
 (49, '6855'),
 (49, '1550'),
 ('3614', 49),
 ('9682', 49),
 ('8242', 49),
 ('10102', 49),
 ('5219', 49),
 ('6536', 49),
 ('6195', 49),
 ('9622', 49),
 ('6855', 49),
 ('1550', 49),
 ...]

In [8]:
len(result2)

207820

In [9]:
# 将这些坐标位置存入新的dataframe中
new_df = pd.DataFrame(result1 + result2, columns=['row', 'col'])
new_df

         row    col
0         10    574
1         21   1566
2         21   5124
3         21   5840
4         24   5491
...      ...    ...
275609  8857  10390
275610  5856  10390
275611  6032  10390
275612  9543  10390
275613  9138  10390

[275614 rows x 2 columns]

In [10]:
adata2 = anndata.read_h5ad('data-processing/integrated-no-filtration-mouse.h5ad')
adata2.var.index

Index(['0610007P14Rik', '0610009B22Rik', '0610009E02Rik', '0610009L18Rik',
       '0610009O20Rik', '0610010F05Rik', '0610010K14Rik', '0610011F06Rik',
       '0610012G03Rik', '0610030E20Rik',
       ...
       'Zufsp', 'Zw10', 'Zwint', 'Zxdb', 'Zxdc', 'Zyg11b', 'Zyx', 'Zzef1',
       'Zzz3', 'l7Rn6'],
      dtype='object', length=10391)

In [11]:
list = adata2.var.index
list

Index(['0610007P14Rik', '0610009B22Rik', '0610009E02Rik', '0610009L18Rik',
       '0610009O20Rik', '0610010F05Rik', '0610010K14Rik', '0610011F06Rik',
       '0610012G03Rik', '0610030E20Rik',
       ...
       'Zufsp', 'Zw10', 'Zwint', 'Zxdb', 'Zxdc', 'Zyg11b', 'Zyx', 'Zzef1',
       'Zzz3', 'l7Rn6'],
      dtype='object', length=10391)

In [12]:
# list[2]
new_df['row'] = new_df['row'].astype(int)
new_df['col'] = new_df['col'].astype(int)

In [13]:
new_df

         row    col
0         10    574
1         21   1566
2         21   5124
3         21   5840
4         24   5491
...      ...    ...
275609  8857  10390
275610  5856  10390
275611  6032  10390
275612  9543  10390
275613  9138  10390

[275614 rows x 2 columns]

In [14]:
new_df['row_gene'] = list[new_df['row'][:]]
new_df['col_gene'] = list[new_df['col'][:]]
new_df

         row    col       row_gene  col_gene
0         10    574  0610037L13Rik    Amigo2
1         21   1566  1110032A03Rik  Cdk5rap2
2         21   5124  1110032A03Rik      Mest
3         21   5840  1110032A03Rik      Npat
4         24   5491  1110038B12Rik       Myc
...      ...    ...            ...       ...
275609  8857  10390          Tceb2     l7Rn6
275610  5856  10390           Nptn     l7Rn6
275611  6032  10390         Ormdl1     l7Rn6
275612  9543  10390        Txndc17     l7Rn6
275613  9138  10390        Tmem237     l7Rn6

[275614 rows x 4 columns]

In [15]:
new_df['gene_couple_1'] = new_df['row_gene'] + ' ' + new_df['col_gene']
new_df['gene_couple_2'] = new_df['col_gene'] + ' ' + new_df['row_gene']

In [16]:
new_df

,row,col,row_gene,col_gene,gene_couple_1,gene_couple_2
0,10,574,0610037L13Rik,Amigo2,0610037L13Rik Amigo2,Amigo2 0610037L13Rik
1,21,1566,1110032A03Rik,Cdk5rap2,1110032A03Rik Cdk5rap2,Cdk5rap2 1110032A03Rik
2,21,5124,1110032A03Rik,Mest,1110032A03Rik Mest,Mest 1110032A03Rik
3,21,5840,1110032A03Rik,Npat,1110032A03Rik Npat,Npat 1110032A03Rik
4,24,5491,1110038B12Rik,Myc,1110038B12Rik Myc,Myc 1110038B12Rik
...,...,...,...,...,...,...
275609,8857,10390,Tceb2,l7Rn6,Tceb2 l7Rn6,l7Rn6 Tceb2
275610,5856,10390,Nptn,l7Rn6,Nptn l7Rn6,l7Rn6 Nptn
275611,6032,10390,Ormdl1,l7Rn6,Ormdl1 l7Rn6,l7Rn6 Ormdl1
275612,9543,10390,Txndc17,l7Rn6,Txndc17 l7Rn6,l7Rn6 Txndc17
275613,9138,10390,Tmem237,l7Rn6,Tmem237 l7Rn6,l7Rn6 Tmem237

In [17]:
gene_couple = pd.DataFrame()

In [18]:
gene_couple['couple'] = pd.concat([new_df['gene_couple_1'], new_df['gene_couple_2']], axis=0)

In [19]:
(gene_couple.drop_duplicates()).to_csv('data-processing/gene-couple-mouse-test-new-algorithm-norm.txt', index=False, header=False)